html, body,
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
    background: #333;
}

.side {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

.side-left {
    left: 0;
    background: orange;
    color: #fff;
    outline: orange; /* avoid gap */
}

.side-right {
    right: 0;
    background: #fff;
    color: orange;
    outline: 1px solid #fff; /* avoid gap */
}




